

.list-category{
    width: 50%;
    background-color: rgba(40, 246, 246, 0.474);
    font-size: 3.5rem;
    color: rgba(207, 51, 51, 0.782);
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.518);
    border-radius: 25px;
}
.list li{
    font-size: 2rem;
    list-style: none;
    color: rgba(0, 0, 255, 0.482);
    
}
.list li:hover{
    color:rgba(0, 0, 255, 0.982);
    cursor: pointer;
}
.display{
    text-align: center;
}
.counter-display{
   
    font-size: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.counter-btn{
    width: 200px;
    height: 50px;
    background-color: rgba(147, 147, 233, 0.6);
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 0 2px;
    cursor: pointer;
    
}
.counter-btn:hover{
    background-color: rgba(147, 147, 233, 0.4);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.color-title{
    text-align: center;

}
.color-sampler{
    width: 250px;
    height: 250px;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-bottom: 100px;
    padding: 10px;
    transition: .25sec ease;
}
.color-label{
    font-size: 1.5rem;
}
input[type='color']{
    width: 75px;
}